# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/

# Streamlit
.streamlit/secrets.toml

# OS/editor
.DS_Store
Thumbs.db
.vscode/

# Data
mlb-playing-time-all-fields.csv
mlb-playing-time.csv
batting_season_all.parquet
batting_season_all_old.parquet

# Code
scratch_load_parquet.py
data_loader.py